      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper wrapper-content animated fadeInUp">
            <%= render "layouts/flash_messages", flash: flash %>
            <%= yield %>
          </div>
        </div>
      </div>