            <div class="footer fixed">
              <div>
                <strong>Fator 7 Tecnologia da Informação Ltda.</strong> 2014. Todos os direitos reservados.
              </div>
            </div>