        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-sm-4">
            <h2><%= yield :page_title %></h2>
            <ol class="breadcrumb">
              <%= yield :breadcrumb %>
            </ol>
          </div>
          <div class="col-sm-8">
            <div class="title-action">
              <a href="" class="btn btn-primary">This is action area</a>
            </div>
          </div>
        </div>