        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-sm-4">
            <h2><%= yield :title %></h2>
            <%= breadcrumbs style: :ol,
                            class: "breadcrumb",
                            current_class: "active",
                            display_single_fragment: true,
                            link_current: true,
                            autoroot: true %>
          </div>
          <div class="col-sm-8">
            <div class="title-action">
              <%= yield :actions %>
            </div>
          </div>
        </div>